body{
	background:url(../img/Dark-Background-Wallpaper.jpg) fixed no-repeat;
	
}

#main_container{
	margin: 0 auto;
}

#search4{
	float: left;
	color:white;
}

#formmovie{
margin-bottom:20px;
}

#entry p{
	padding-top: 50px;
	margin-right:-60px;
	height: 100px;
	width: 200px;
	float: right;
	margin-top:-25px;
	color:white;
}
.lamesa img{
	width:220px;
	height:250px;
	margin-left:550px;
}
.movie_holder{

	width: 100%;
	height: 100%;
	margin-top:50px;
	border: 2px solid white;
	border-radius:10pt;
	padding-bottom: 20px;

}

.movie_title{
	font-size:30px;
	font-family:'candara';
	text-align:center;
	margin-top:12px;
}

.synopsis, .year{
	font-size:16px;
}

.year{
	margin-left:630px;
	margin-top:10px;

}

.synop{
	padding:20px;
	text-indent:45px;
	font-size:18px;
}

